---
galaxy:
  needs: []
  script:
    - ansible-galaxy role info buluma.checkmk_agent
  stage: deploy
image: buluma/github-action-molecule:4.0.9
molecule:
  allow_failure: true
  parallel:
    matrix:
      - image: alpine-openrc
        tag: latest
      - image: amazonlinux
        tag: latest
      - image: enterpriselinux
        tag: "7"
      - image: debian-systemd
        tag: latest
      - image: debian-systemd
        tag: buster
      - image: fedora-systemd
        tag: "34"
      - image: fedora-systemd
        tag: latest
      - image: docker-opensuse-systemd
        tag: latest
      - image: ubuntu
        tag: "21.04"
      - image: docker-ubuntu2104-ansible
        tag: focal
      - image: docker-ubuntu2104-ansible
        tag: latest
  retry: 1
  script:
    - image=${image} tag=${tag} molecule -v test
  stage: build
release_job:
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  needs:
    - molecule
  release:
    description: Release created using the release-cli.
    name: Release $CI_COMMIT_TAG
    tag_name: $CI_COMMIT_TAG
  rules:
    - if: $CI_COMMIT_TAG
  script:
    - echo "Running the release job."
  stage: .post
role_testing:
  needs: []
  parallel:
    matrix:
      - image: alpine-openrc
        tag: latest
      - image: amazonlinux
        tag: latest
      - image: enterpriselinux
        tag: "7"
      - image: debian-systemd
        tag: latest
      - image: debian-systemd
        tag: buster
      - image: fedora-systemd
        tag: "34"
      - image: fedora-systemd
        tag: latest
      - image: docker-opensuse-systemd
        tag: latest
      - image: docker-ubuntu-systemd
        tag: latest
      - image: docker-ubuntu-systemd
        tag: bionic
      - image: docker-ubuntu-systemd
        tag: focal
  retry: 1
  script:
    - image=${image} tag=${tag} ansible-galaxy install buluma.checkmk_agent
  stage: test
services:
  - docker:dind
testing:
  needs: []
  parallel:
    matrix:
      - image: alpine-openrc
        tag: latest
      - image: amazonlinux
        tag: latest
      - image: enterpriselinux
        tag: "7"
      - image: debian-systemd
        tag: latest
      - image: debian-systemd
        tag: buster
      - image: fedora-systemd
        tag: "34"
      - image: fedora-systemd
        tag: latest
      - image: docker-opensuse-systemd
        tag: latest
      - image: ubuntu
        tag: "21.04"
      - image: ubuntu
        tag: "21.10"
  retry: 1
  rules:
    - if: $CI_COMMIT_REF_NAME == "testing"
  script:
    - image=${image} tag=${tag} molecule -v test
  stage: test
variables:
  DOCKER_HOST: tcp://docker:2375
  PY_COLORS: 1
