---
- name: setup-Suse |  Print the gateway for each debian host when defined
  ansible.builtin.debug:
    msg: System {{ inventory_hostname }} has gateway {{ ansible_default_ipv4.gateway }}
  when: ansible_default_ipv4.gateway is defined
- name: setup-Suse |  suse | zypper -n install *.rpm
  ansible.builtin.raw: "set -eu\nzypper -n install -y bzip2 ca-certificates curl gcc gpg2 gzip hostname iproute2 procps python3 python3-jmespath python3-lxml python3-pip
    python3-setuptools python3-virtualenv python3-wheel rsync shadow sudo tar unzip util-linux xz zip\n"
  changed_when: false
  failed_when: false
  when: ansible_os_family | lower == "suse"
- name: setup-Suse |  "Download check_mk_agent installer (rpm) - {{ ansible_os_family }}"
  ansible.builtin.get_url:
    dest: /tmp/
    mode: "0644"
    url: https://download.checkmk.com/checkmk/2.0.0p23/check-mk-free-2.0.0p23-sles15sp3-38.x86_64.rpm
  delegate_to: localhost
  run_once: true
- name: setup-Suse |  "Copy installer (rpm) - {{ ansible_os_family }}"
  ansible.builtin.copy:
    dest: /tmp/{{ checkmk_agent_suse }}
    mode: preserve
    src: /tmp/{{ checkmk_agent_suse }}
- name: setup-Suse |  Import Check_MK-pubkey
  ansible.builtin.rpm_key:
    key: https://download.checkmk.com/checkmk/Check_MK-pubkey.gpg
    state: present
- name: setup-Suse |  "Install check_mk_agent (rpm) - {{ ansible_os_family }}"
  ansible.builtin.dnf:
    name: /tmp/{{ checkmk_agent_suse }}
    state: present
    use_backend: yum
  become: true
  environment:
    PATH: "{{ ansible_env.PATH }}:/sbin:/usr/sbin"
