---
- name: setup-RedHat | Print the gateway for each debian host when defined
  ansible.builtin.debug:
    msg: System {{ inventory_hostname }} has gateway {{ ansible_default_ipv4.gateway }}
  when: ansible_default_ipv4.gateway is defined
- name: setup-RedHat | Fedora | yum install *.rpm
  ansible.builtin.raw: "set -eu\nyum install -y bzip2 ca-certificates curl gcc gnupg2 gzip hostname iproute procps-ng python3 python3-dnf-plugin-versionlock python3-jmespath
    python3-libselinux python3-lxml python3-pip python3-setuptools python3-virtualenv python3-wheel rsync shadow-utils sudo tar unzip util-linux xz yum-utils zip\n"
  changed_when: false
  failed_when: false
  when: ansible_distribution | lower == "fedora"
- name: setup-RedHat | Redhat-9 | yum install *.rpm
  ansible.builtin.raw: "set -eu\nyum-config-manager --enable crb || echo $?\nyum-config-manager --enable codeready-builder-beta-for-rhel-9-x86_64-rpms || echo $?\n\
    yum install -y http://dl.fedoraproject.org/pub/epel/epel-release-latest-9.noarch.rpm\nyum install -y bzip2 ca-certificates curl gcc gnupg2 gzip hostname iproute
    procps-ng python3 python3-dnf-plugin-versionlock python3-jmespath python3-libselinux python3-lxml python3-pip python3-setuptools python3-virtualenv python3-wheel
    rsync shadow-utils sudo tar unzip util-linux xz yum-utils zip\n"
  changed_when: false
  failed_when: false
  when: ansible_os_family | lower == "redhat" and ansible_distribution_major_version | lower == "9"
- name: setup-RedHat | Redhat-8 | yum install *.rpm
  ansible.builtin.raw: 'set -eu

    subscription-manager repos --enable "codeready-builder-for-rhel-8-x86_64-rpms"

    yum install -y http://dl.fedoraproject.org/pub/epel/epel-release-latest-8.noarch.rpm

    yum install -y bzip2 ca-certificates curl gcc gnupg2 gzip hostname iproute procps-ng python3 python3-dnf-plugin-versionlock python3-jmespath python3-libselinux
    python3-lxml python3-pip python3-setuptools python3-virtualenv python3-wheel rsync shadow-utils sudo tar unzip util-linux xz yum-utils zip

    '
  changed_when: false
  failed_when: false
  when: ansible_os_family | lower == "redhat" and ansible_distribution_major_version | lower == "8"
- name: setup-RedHat | Redhat-7 | yum install *.rpm
  ansible.builtin.raw: "set -eu\nyum-config-manager --enable rhel-7-server-optional-rpms\nyum-config-manager --enable rhel-7-server-extras-rpms\nsubscription-manager
    repos --enable=rhel-7-server-optional-rpms || echo $?\nsubscription-manager repos --enable=rhel-7-server-extras-rpms || echo $?\nyum install -y http://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm\n\
    yum install -y bzip2 ca-certificates curl gcc gnupg2 gzip hostname iproute procps-ng python3 python3-jmespath python3-libselinux python3-lxml python3-pip python3-setuptools
    python3-virtualenv python3-wheel rsync shadow-utils sudo tar unzip util-linux xz yum-plugin-versionlock yum-utils zip\n"
  changed_when: false
  failed_when: false
  when: ansible_os_family | lower == "redhat" and ansible_distribution_major_version | lower == "7"
- name: setup-RedHat | Install a list of packages dependencies (yum)
  ansible.builtin.dnf:
    name: "{{ packages }}"
  vars:
    packages:
      - xinetd
- name: setup-RedHat | Download check_mk_agent installer (rpm)
  ansible.builtin.get_url:
    dest: /tmp/
    mode: "0644"
    url: https://download.checkmk.com/checkmk/2.0.0p23/check-mk-free-2.0.0p23-el7-38.x86_64.rpm
  delegate_to: localhost
  run_once: true
- name: setup-RedHat | Copy installer (rpm)
  ansible.builtin.copy:
    dest: /tmp/{{ checkmk_agent_rpm }}
    mode: preserve
    src: /tmp/{{ checkmk_agent_rpm }}
- name: setup-RedHat | Install check_mk_agent (rpm)
  ansible.builtin.dnf:
    name: /tmp/{{ checkmk_agent_rpm }}
    state: present
  become: true
  environment:
    PATH: "{{ ansible_env.PATH }}:/sbin:/usr/sbin"
