---
- name: setup-Debian | Update apt cache.
  ansible.builtin.apt:
    cache_valid_time: "3600"
    update_cache: "yes"
- name: setup-Debian | Print the gateway for each debian host when defined
  ansible.builtin.debug:
    msg: System {{ inventory_hostname }} has gateway {{ ansible_default_ipv4.gateway }}
  when: ansible_default_ipv4.gateway is defined
- name: setup-Debian | Apt-get install *.deb
  ansible.builtin.raw: "set -eu\nDEBIAN_FRONTEND=noninteractive apt-get install -y bzip2 ca-certificates curl gcc gnupg gzip hostname iproute2 passwd procps python3
    python3-apt python3-jmespath python3-lxml python3-pip python3-setuptools python3-venv python3-virtualenv python3-wheel rsync sudo tar unzip util-linux zip libperl5.32
    libevent-2.1-7\n"
  changed_when: false
  failed_when: false
- name: setup-Debian | Try to install xz-utils packages
  ansible.builtin.pip:
    name: xz-utils==5.4.6
    state: present
  changed_when: false
  failed_when: false
- name: setup-Debian | Install dependencies (apt)
  ansible.builtin.apt:
    name:
      - monitoring-plugins
      - python3-pip
      - xinetd
    state: present
    update_cache: true
  become: true
  environment:
    PATH: "{{ ansible_env.PATH }}:/sbin:/usr/sbin"
- name: setup-Debian | Download check_mk_agent installer (deb)
  ansible.builtin.get_url:
    dest: /tmp/
    mode: "0644"
    url: https://download.checkmk.com/checkmk/2.0.0p23/check-mk-free-2.0.0p23_0.bullseye_amd64.deb
  changed_when: false
  delegate_to: localhost
  failed_when: false
  run_once: true
- name: setup-Debian | Copy installer (deb)
  ansible.builtin.copy:
    dest: /tmp/{{ checkmk_agent_deb }}
    mode: preserve
    src: /tmp/{{ checkmk_agent_deb }}
  changed_when: false
  failed_when: false
- name: setup-Debian | Install check_mk_agent (deb)
  ansible.builtin.apt:
    deb: /tmp/{{ checkmk_agent_deb }}
    state: present
  become: true
  changed_when: false
  environment:
    PATH: "{{ ansible_env.PATH }}:/sbin:/usr/sbin"
  failed_when: false
